/* CSS for the buttons */

/*
#5d66a8
#7d83b2
#8d9dcc
#d9dbf1
#f9f9ed
#dbf4a7
*/

body{
    font-family: 'Verdana';
    margin-left: 25px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px;
    background-color: #f9f9ed;
}
.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background: #5d66a8;
    color: #f9f9ed;
    padding: 10px;
    z-index: 100;
    text-decoration: none;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-link:focus {
    transform: translateY(0); 
}


/* Logo container */
.logo {
    margin-left: 10px;
}

/* Buttons container */
.buttons {
    display: flex;
    gap: 5px; 
}

/* Button styles */
.button {
    padding: 10px 20px;
    background-color: #d9dbf1;
    color: #5d66a8;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    text-align: center;
    display: flex;            
    justify-content: center;   
    align-items: center;     
    padding: 10px 20px;
    background-color: #d9dbf1;
}
.active {
    background-color: #7d83b2; 
    color: #f9f9ed;
}
.active:hover {
    background-color: #dbf4a7; 
    color: #7d83b2; 
}


.button:hover {
    background-color: #dbf4a7;
}


.about-link {
    margin-right: 10px;
}

/* Headings */
h1 {
    color: #5d66a8;
}
h2 {
    color: #5d66a8;
}
h3 {
    color: #5d66a8;
}
/* List */
li {
    color: #5d66a8;
    margin-left: 25px;
    
}
li::marker {
    color: #dbf4a7; 
    font-size: 20px; 
}


/* Specific Link */
.about-link {
    margin-right: 10px;
}


#hobbies {
    margin-top: 10px;
    width: 170px;
}


main img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
p {
    background-color: #f9f9ed;
    color: #5d66a8;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
}

#supply_picture {
    margin-top: 10px;
    width: 700px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

/* Table */
table {
    width: 100%; 
    background-color: #f9f9ed;
    color: #7d83b2;
    padding: 20px;
    margin: 30px 0;
    border-radius: 20px;
    border-collapse: collapse;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Table header */
table tr:first-child {
    color: #5d66a8;
    font-weight: bold;
}

/* Table cell */
table td, table th {
    padding: 15px;
    text-align: left; 
}


/* Art titles */

.art-title {
    color: #5d66a8;
}
.art-subtitle {
    color: #7d83b2;
}

label {
    color: #5d66a8;
}
input, textarea{
    border-color: #5d66a8;
    border-radius: 6px ;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px solid #dbf4a7; 
    box-shadow: 0 0 5px #dbf4a7; 
}
.button:focus {
    outline: 3px solid #dbf4a7; /* High-contrast outline */
    outline-offset: 2px; /* Offset to improve visibility */
    background-color: #8d9dcc; /* Change background for focus */
    color: #f9f9ed;
}

/* Links */

a {
    color: #dbf4a7;
    text-decoration: none;
    background-color: #8d9dcc;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
}
a:hover{
    color: #5d66a8;
    text-decoration: none;
    background-color: #d9dbf1;
}

main a:visited {
    color: lightgray; 
    font-weight: bold; 
}
main a:visited:hover {
    color: #5d66a8;
    text-decoration: none;
    background-color: #d9dbf1;
}



.footnote {
    color: #5d66a8;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    margin-bottom: 20px;
}

/* Pictures */
.pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; 
}

.pictures img {
    max-width: 100%; 
    height: auto; 
    flex: 1 1 48%; 
    border-radius: 20px;
    margin: 10px; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000; 
}

/* Responsive iframe */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


img {
    max-width: 100%;
    height: auto;
}
.main-content {
    float: left;
    width: 100%;
    background-color: #f8f9fd;
    justify-content: start;
    align-items: start;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0; 
}
.information {
    background-color: #f8f9fd; 
    padding: 10px;
    border-radius: 10px; 
    margin: 20px 0; 
}

.hobby-list {
    float: left;
    width: 100%;
    background-color: #f8f9fd;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0; 
}

.hobby-item {
    padding: 15px;
    border: 2px solid #5d66a8;
    border-radius: 10px;
    color: #f9f9ed;
    text-decoration: none;
    font-size: 18px;
    width: 80%; 
    max-width: 600px;
    transition: background-color 0.3s, color 0.3s;
}

.hobby-item:hover {
    background-color: #dbf4a7;
    color: #5d66a8;
}

/* Page indicator styling */
.page-indicator {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    color: #5d66a8;
    font-size: 16px;
}

.page-indicator span {
    padding: 10px;
    border: 2px solid #5d66a8;
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    color: #f8f9fd;
    font-family: Verdana;
    background-color: #5d66a8;
    border: 2px solid #dbf4a7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-width: 200px;
    font-size: 0.9em;
    display: none; 
}
/* Align title and counter */
#counter-align {
    position: relative;
    width: 100%;
    text-align: center; /* Center text horizontally */
}

#hobby-title {
    flex: 1 1 auto; /* Allow it to grow and shrink as needed */
    font-size: 2rem; /* Ensure the font size is not too large */
    margin: 0; /* Remove extra margin */
    text-align: left; /* Align title to the left */
}

#counter {
    flex: 0 0 auto; /* Prevent the counter from stretching */
    font-size: 1rem; /* Adjust font size for consistency */
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    right: 10px; /* Ajouter une marge de 10px à droite */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em; /* Augmenter la taille du texte */
    background-color: #f9f9ed;
    color: #5d66a8;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#artists-container {
    display: none;
}

.hidden {
    display: none;
}
.highlight {
    background-color: #dbf4a7; 
}



/* Responsive design */
@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    
    main {
        width: 100%;
        font-size: 18px;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .pictures img {
        flex: 1 1 100%;
    }

    table {
        display: block; 
        overflow-x: auto; 
        white-space: nowrap; 
    }

    /* Reduce padding for smaller screens */
    table td, table th {
        padding: 10px;
    }
    #counter-align {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    #counter {
        position: static;
        margin-top: 10px; 
        transform: none;
    }

    #counter-align {
        display: flex;
        flex-wrap: wrap; /* Permet aux éléments de se positionner sur plusieurs lignes */
        justify-content: space-between; /* Éloigne le titre et le compteur */
        align-items: center; /* Aligne les éléments verticalement */
        width: 100%; /* Prend tout l'espace disponible */
        gap: 10px; /* Ajoute un espacement entre les éléments */
        margin: 0; /* Supprime les marges inutiles */
        padding: 10px 0; /* Ajoute un peu d'espace interne */
        box-sizing: border-box; /* Gère les marges et paddings */
    }
    
    #hobby-title {
        font-size: 2rem; /* Taille adaptée pour le titre */
        flex: 1 1 auto; /* Permet au titre de grandir ou rétrécir */
        margin: 0; /* Supprime les marges par défaut */
        text-align: left; /* Aligne le texte à gauche */
    }
    
    #counter {
        font-size: 1rem; /* Taille ajustée pour le compteur */
        padding: 5px 10px; /* Espacement interne */
        text-align: center; /* Centre le texte */
        background-color: #f9f9ed; /* Assure une bonne visibilité */
        color: #5d66a8;
        border-radius: 8px;
        flex: 0 0 auto; /* Le compteur ne change pas de taille */
    }
    
    
    
}
#feedback {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; 
    color: red;
    font-family: Verdana;
}
main.hobby-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hobby-list {
    width: 45%; /* La liste occupe 45% de la largeur */
    padding: 20px;

}

#hobby-details {
    width: 50%; /* La section des détails occupe 50% de la largeur */
    padding: 20px;
    display: none; /* Par défaut, masqué */
    border-left: 2px solid #ddd; /* Séparation entre les deux colonnes */
}

.hobby-detail-view img {
    max-width: 40%;
    height: auto;
    margin-bottom: 15px;
}

.hobby-detail-view {
    background-color: #f9f9ed; /* Couleur de fond */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#all-seen-message {
    margin-top: 15px; /* Ajoute un espace entre le message et la liste */
    font-size: 1rem;
    color: #5d66a8;
    background-color: #f9f9ed;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#initial-mess {
    
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 50%; /* Maintient la largeur de 50% */
    height: 100%; /* Prend toute la hauteur disponible du conteneur parent */
    padding: 20px;
    margin-top: 30px; /* Ajoute un espace au-dessus */
    border-left: 2px solid #ddd; /* Ligne de séparation */
    text-align: center; /* Centrage du texte */
    color: #5d66a8; /* Couleur du texte */
    font-size: 1.2rem; /* Taille de la police */
    box-sizing: border-box; /* S'assure que le padding est inclus dans la largeur/hauteur */
    display: block; /* Affiche la section des détails */
    margin-top: 20px; /* Ajoute un espace entre le texte et l'image */
    max-width: 80%; /* Ajuste la largeur maximale de l'image */
    height: auto; /* Conserve les proportions de l'image */
}

#initial-mess img {
    max-width: 60%; 
    height: auto;
}



